chardet==4.0.0
fpdf==1.7.2
reportlab==3.5.67
nltk==3.6.3
numpy
beautifulsoup4
torch
PyPDF2==1.26.0
cairosvg
svgwrite
weasyprint
pdfkit
PyMuPDF==1.19.0
python-docx==0.8.11
xlsxwriter==3.0.2
openpyxl
pymsgbox==1.0.9
transformers==4.11.3
matplotlib==3.4.3
markdown2pdf
